<h1>Expense Details</h1>
<br></br>

<h2><%= @expense.vendor %></h2>
<br>
<h3>Date: <%= @expense.date %></h3>
<br>
<h3>Total: $<%= @expense.total %></h3>
<br>
<h3>Description: <%= @expense.description %></h3>
<br>
<h3>Payment Method: <%= @expense.payment_method %></h3>
<br>
<a href="/expenses/<%= @expense.id %>/edit">Edit Expense</a>
<br>
<form action="/expenses" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Delete Expense">
</form>
