<p>Welcome <b><%=@user.username%></b>!</p>

<h1>My Expenses</h1>
<br>
<ul>
  <% if @expenses.size > 0 %>
    <% @expenses.each do |expense| %>
      <% if expense.user_id == @user.id %>
        <li><a href="/expenses/<%= expense.id %>"><b><%= expense.vendor %></b></a> from <%= expense.date %> for $<%= "%.2f" % expense.total %></li>
        <br></br>
      <% end %>
    <% end %>
    <a href="/expenses/new">Create new expense</a>
  <% else %>
    <p>You don't have any expenses recorded yet! <a href="/expenses/new">Create a new one here</a>.</p>
  <% end %>
</ul>
